@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-base-text;
    }
    body {
        @apply bg-main-bg;
    }

    h6 {
        @apply text-sm;
    }

    h5 {
        @apply text-lg
    }

    h4 {
        @apply text-xl
    }

    h3 {
        @apply text-2xl
    }

    h2 {
        @apply text-3xl
    }

    h1 {
        @apply text-4xl;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-text-dark;
    }
}

@layer utilities {
    .text-ellipsis-2 {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 3rem;
    }
}

.loader {
    @apply border-white-tone;
    border-top-color: #503E9D;
}